<h1>Platypus, where your questions will be answered!!</h1>

<h2><%=@question.title%></h2>
<h2><%=@question.body%></h2>



  <h2>Tell us what you think</h2>
  <%= form_for [@question, @answer], remote: true, :html => {:class => 'answer'} do |a| %>
  <h4><%= a.label :Answer %></h4>
  <h4><%= a.text_area :response %></h4><br>
  <%= a.submit "Create a Answer" %>
  <%end%>